.head1
{
	background-color: yellow;
}
.logo
{
	height: 80px;
	width: 80px;
	margin-right: 20px;
	border-radius: 360px;
}
.logo1
{
	height: 250px;
	width: 250px;
	margin-right: 20px;
	border-radius: 360px;
}
#t1
{
	text-align: center;
	color: red;
	margin-left: 250px;
	font-size: 70px;
}
#t1:hover
{
font-family: chiller;
color: darkred;
}
.title1
{
	margin-top: 10px;
	background-color: lightblue;		
}
.list-item
{
	display: inline;
	margin-left: 20px;
}
.link1
{
	text-decoration: none;
	font-size: 30px;
}
.link1:hover
{
	background-color: yellow;
	color: red;
}
.nav
{
	background-color: lightgreen;
}
#n1
{
	color: white;
	font-size: 20px;
	background-color: red;
}
#n-data
{
background-color:yellow;
 }
 .m1
 {
 	height: 450px;
 	width:1000px;
 	border-radius: 10px;
 }
 #info
 {
 	background-color: lightblue;
 	border-radius: 20px;
 }
 .abt
 {
 	margin-top: 10px;
 	border-radius: 10px;
 	border:4px double orange;
 	margin-bottom: 20px;
 }
 .footer1
 {
 	list-style-type: none;
 	color: skyblue;
 }
 .footer
 {
 	background-color: black;
 	border-radius: 20px;
 	padding-bottom: 20px;
 	padding-top: 10px;
 }
/* 01/07/2023 */
.pro1
 {
 	height: 250px;
 	width: 200px;
 }
 .pro1:hover
 {
 	
 	width: 220px;
 }
 .card
 {
 	box-shadow: 2px 3px 3px 1px gray;
 	margin-bottom: 100px;
 	width: 280px;

 }
 .pr1
 {
 	float: right;
 	padding-right: 10px;
 }
 .pr
 {
 	float: left;
 }
 .btn-b
 {
 	background-color: lightgreen;
 	font-size: 12px;
 	border-radius: 5px;
 }
 .btn-c
 {
 	background-color: pink;
 	font-size: 12px;
 	border-radius: 5px;
 }
 .pro-dtl{
 
 	padding-bottom: 20px;
 }
 .fev
 {
 	font-size: 25px;
 color: gray;
 float: right;
 padding-right: 10px;
 padding-top :10px;
 }
 .fev:hover{
 	font-size: 25px;
 	 color: red;
 float: right;
 padding-right: 10px;
 padding-top :10px;
 }
